<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="connection" connectionString="Server=LAPTOP-G5KKT640\SQLEXPRESS;Database=24VolunteerDataBase;Integrated Security = true;"/>
  </connectionStrings>
  <!--<appSettings>
    <add key="parentTable" value="Project"/>
    <add key ="id1" value="projectID"/>
    <add key="childTable" value="Locationn"/>
    <add key ="id2" value="projectID"/>
    <add key="parentQuery" value="SELECT * FROM Project"/>
    <add key="childQuery" value="SELECT * FROM Locationn"/>
    <add key="childQuery2" value="select * from Locationn where projectID=@id"/>
  </appSettings>-->

  <appSettings>
    <add key="parentTable" value="Project"/>
    <add key ="id1" value="projectID"/>
    <add key="childTable" value="Cause"/>
    <add key ="id2" value="projectID"/>
    <add key="parentQuery" value="SELECT * FROM Project"/>
    <add key="childQuery" value="SELECT * FROM Cause"/>
    <add key="childQuery2" value="select * from Cause where projectID=@id"/>
  </appSettings>
</configuration>